{{ define "main" }}
    <div class="archive animated fadeInDown">
        <ul class="list-with-title">

      {{ $type := "post" }}
      {{ $.Scratch.Set "count" 1 }}

        {{ range (.Site.RegularPages.GroupByDate "2006") }}
          {{ if (gt .Key 2000) }}

            {{ range (where .Pages "Type" $type) }}
              {{ if (eq ($.Scratch.Get "count") 1) }}
                {{ $.Scratch.Set "count" 0 }}
                <h1 class="title is-4 has-text-weight-normal">{{ .Date.Format "2006" }}</h1>
              {{ end }}
            {{ end }}

            {{ $.Scratch.Set "count" 1 }}

              <ul class="listing">
              {{ range (where .Pages "Type" $type) }}
                {{ if (ne .Params.hidden true) }}
                  <li class="archive-item">
                       <span class="listing-post"> <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
 
                      <span class="post-date">{{ .Date.Format "02 Jan" }}</span>
                    </a>
                  </li>
                {{ end }}
              {{ end }}
              </ul>
          
            <br>

        {{ end }}
      {{ end }}

      </div>
    </div>
  </div>
</section>
{{ end }}
