{{ $count := .Get "count"}}
<ul class="recents-list" style="list-style:none;">
      {{/* range first 5 (where .Site.RegularPages "Section" "blog").ByDate.Reverse  */}}
    {{range first $count (where (where .Site.RegularPages "Section" "blog") ".Params.featured" "!=" "true") }}

        <li class="posts-list-item">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span style="float:right;">
            {{ .Date.Format "02 Jan." }}
          </span>
        </li>
      {{ end }}
    </ul>
